<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Data.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Printing.v18.1.Core, Version=18.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Office.v18.1.Core, Version=18.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.RichEdit.v18.1.Core, Version=18.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="DevExpress.Web.ASPxThemes.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" />
        <add assembly="DevExpress.XtraReports.v18.1.Web.WebForms, Version=18.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v18.1.Web, Version=18.1.4.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="RemoteOnly" defaultRedirect="~/Problemas/error500.aspx">
      <error statusCode="400" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="401" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="402" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="403" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="404" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="405" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="406" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="407" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="408" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="409" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="410" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="411" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="412" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="413" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="414" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="415" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="416" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="417" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="418" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="421" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="422" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="423" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="424" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="426" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="428" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="429" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="431" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="451" redirect="~/Problemas/404-error.aspx" />
      <error statusCode="500" redirect="~/Problemas/error500.aspx" />
      <error statusCode="501" redirect="~/Problemas/error500.aspx" />
      <error statusCode="502" redirect="~/Problemas/error500.aspx" />
      <error statusCode="503" redirect="~/Problemas/error500.aspx" />
      <error statusCode="504" redirect="~/Problemas/error500.aspx" />
      <error statusCode="505" redirect="~/Problemas/error500.aspx" />
      <error statusCode="506" redirect="~/Problemas/error500.aspx" />
      <error statusCode="507" redirect="~/Problemas/error500.aspx" />
      <error statusCode="508" redirect="~/Problemas/error500.aspx" />
      <error statusCode="510" redirect="~/Problemas/error500.aspx" />
      <error statusCode="511" redirect="~/Problemas/error500.aspx" />
    </customErrors>
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" validate="false" />
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <connectionStrings>
    <add name="MyClubConnectionString" connectionString="Data Source=74.208.12.207,1433;Initial Catalog=MyClub;User ID=tci;Password=*tci123;MultipleActiveResultSets=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="MyClubEntities" connectionString="metadata=res://*/Modelo.ModeloClub.csdl|res://*/Modelo.ModeloClub.ssdl|res://*/Modelo.ModeloClub.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=74.208.12.207,1433;initial catalog=MyClub;user id=tci;password=*tci123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WatchDogEntities" connectionString="metadata=res://*/Modelo.Modelo226.csdl|res://*/Modelo.Modelo226.ssdl|res://*/Modelo.Modelo226.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=74.208.89.226;initial catalog=WatchDog;user id=tci;password=*tci123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v18.1, Version=18.1.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="Material" customThemeAssemblies="" baseColor="#0090bf" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
  </devExpress>
</configuration>
<!--ProjectGuid: EC62E476-986B-46D8-B12F-698A11080983-->