@media screen and (min-width: 300px) and (max-width: 500px)  {
    
    header{
        
        width: 100%;
        padding: 25% 0 5%;
        color: white;

    }
    header h1{
       font-size:25px;

    }
    .about h1{
        color: white;
        font-size: 30px;

    }
    .about img{
        width: 100%;
          
      }
    .about{
        height: 100%;
        padding-top: 35%;
       
    }
    .about2{
        height: 100%;
        width: 100%;
        padding: 5% 0;
       
    }
    .about2 h1{
       font-size: 25px;
       
    }
    h2{
        font-size: 18px;
    }
    
     #resolucion1366{
        display: none;
    }
    #imgpaso2{
        width: 100%;
    }
    #imgpaso1{
        width: 50%;
    }
    #imgpaso3{
        width: 100%;
    }
    #imgimplementacion{
        width: 100%;
    }
    #br1920{
        display: none;
    }
    
    }
    @media screen and (min-width: 501px) and (max-width: 999px)  {
        header{
            height: 200px;
            width: 100%;
            padding: 12% 0 5%;
            color: white;
    
        }
        header h1{
           font-size:30px;
    
        }
        .about h1{
            color: white;
            font-size: 40px;
    
        }
        .about img{
            width: 100%;
              
          }
        .about{
            height: 100%;
            padding-top: 35%;
           
        }
        .about2{
            height: 100%;
            width: 100%;
            padding: 5% 0;
           
        }
        .about2 h1{
           font-size: 25px;
           
        }
        h2{
            font-size: 18px;
        }
        
         #resolucion1366{
            display: none;
        }
        #imgpaso2{
            width: 100%;
        }
        #imgpaso1{
            width: 50%;
        }
        #imgpaso3{
            width: 100%;
        }
        #imgimplementacion{
            width: 100%;
        }
        #br1920{
            display: none;
        }
        
        }
@media screen and (min-width: 1000px) and (max-width: 1299px) {
    .list-6 li{
        font-size: 15px;
    }
    header{
        height: 200px;
        width: 100%;
        padding: 10% 0 6%;
        color: white;

    }
    header h1{
        font-size:40px;
 
     }
    .about h1{
        color: white;
        font-size: 55px;

    }
    .about img{
        width: 100%;
        
          
      }
    .about{
        height: 100%;
        padding-top: 20%;
       
    }
    .about2{
        height: 100%;
        width: 100%;
        padding: 1% 0;
       
    }
    h2{
        font-size: 18px;
    }
   
     #resolucion1366{
        display: none;
    }
    #imgpaso2{
        width: 100%;
    }
    #imgpaso1{
        width: 50%;
    }
    #imgpaso3{
        width: 100%;
    }
    #imgimplementacion{
        width: 100%;
    }
    #br1920{
        display: none;
    }
    footer{
        position: absolute;
        width: 100%;
                   left:0px;
                   bottom:10%;
                   height:5%;
                   

     }
     ul li{
         font-size: 15px;
     }
    
    
    }
    @media (min-width: 1919px) { 
        header{
            height:100px;
            width: 100%;
            padding: 7% 0 5%;
            color: white;
    
        }
        header h1{
            font-size:40px;
     
         }
       
        .about h1{
            color: white;
            font-size: 70px;

        }
        .about img{
            width: 50%;
              
          }
        .about{
            height: 100%;
            width: 100%;
            padding: 12% 0% 5%
        }
        .about2{
            height: 100%;
            width: 100%;
            padding: 2% 0;
           
        }
        h2{
            font-size: 25px;
        }
        .botones{
            margin-top: 3%;
        }
        footer{
            position: absolute;
            width: 100%;
            left:0px;
            bottom:15%;
            height:5%;
            


        }
        #resolucionMovil{
            display: none;
        }
        #resolucion1366{
            display: none;
        }
        #imgpaso2{
            width: 50%;
        }
        #imgpaso1{
            width: 100%;
        }
        #imgpaso3{
            width: 60%;
        }
        #imgimplementacion{
            width: 60%;
        }
      
        p{
            font-size: 30px;
        }
        .textObjetivo{
            font-size: 40px;
        }
        #opciones1{
            font-size: 20px;
        }
        ul li{
            font-size: 20px;
        }
        .list-6 li{
            font-size: 20px;
        }
        .texto15{
            font-size: 30px;
        }
       
        
        
    }  
    @media (min-width: 1300px) and (max-width: 1601px) { 
        header{
            height:100px;
            width: 100%;
            padding: 7% 0 6%;
            color: white;
    
        }
        header h1{
            font-size:30px;
     
         }
        .about h1{
            color: white;
            font-size: 50px;

        }
        .about{
            height: 100%;
            width: 100%;
            padding: 12% 0% 3%
            
        }
        .about img{
          width: 50%;
            
        }
        .about2{
            height: 100%;
            width: 100%;
            padding: 2% 0;
          
        }
        .about2 h2{
            font-size: 20px;
        }
        footer{
            position: absolute;
            width: 100%;
                       left:0px;
                       bottom:5%;
                       height:10%;
                       
 
         }
      
       
        #resolucionMovil{
            display: none;
        }
        #imgpaso2{
            width: 50%;
        }
        #imgpaso1{
            width: 100%;
        }
        #imgpaso3{
            width: 60%;
        }
        #imgimplementacion{
            width: 60%;
        }
        p{
            font-size: 23px;
        }
        ul li{
            font-size: 15px;
        }
        #br1920{
            display: none;
        }
        .list-6 li{
            font-size: 15px;
        }
        .texto15{
            font-size: 20px;
        }
       
     
        
        
    }  
    @media (min-width: 1602px) and (max-width: 1918px){ 
        header{
            height:100px;
            width: 100%;
            padding: 6% 0 6%;
            color: white;
    
        }
        header h1{
            font-size:40px;
     
         }
        .about h1{
            color: white;
            font-size: 62px;

        }
        .about img{
            width: 76%;
              
          }
        .about{
            height: 100%;
            width: 100%;
            padding: 12% 0% 2%
        }
        .about2{
            height: 100%;
            width: 100%;
            padding: 2% 0;
           
        }
        footer{
            position: fixed;
            width: 100%;
                       left:0px;
                       bottom:0px;
                       height:10%;
                       
 
         }
        #resolucionMovil{
            display: none;
        }
        #resolucion1366{
            display: none;
        }
        #imgpaso2{
            width: 50%;
        }
        #imgpaso1{
            width: 100%;
        }
        #imgpaso3{
            width: 60%;
        }
        #imgimplementacion{
            width: 60%;
        }
        li{
            font-size: 25px;
        }
        #br1920{
            display: none;
        }
        .texto15{
            font-size: 30px;
        }
       
       
        
    }  
    #botones {
        padding: 1px;
        float: center;
        background-color: transparent;
        color: white;
      }
    
      #botones {
        margin-left: 5px;
        margin-right: 5px;
      }
    
      #botones button {
        font-size: 1em;
        width: 30px;
        background-color: transparent;
        color: rgb(64, 23, 211);
        border-style: none;
        font-size: 30px;
        margin-left: 7px;
        margin-right: 7px;
      }
  